@import "tailwindcss";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #fff;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@theme {
  --shadow-l: -10px -3px 10px rgba(0, 0, 0, 0.1); 
}

// Hides spinner in number input fields
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

[data-slide-container] h1 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
}

[data-slide-container] h2 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 600;
}

[data-slide-container] h3 {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 500;
}